// Sass Variables

$color-primary: #ff6100;
$color-secondary: #404040;
$color-heading: #0b2653;
$color-body: #212529;
$color-dark: #333;
$color-black: #000000;
$color-gray: #eee;
$color-white: #ffffff;

$font-heading: 'Source Sans Pro',
sans-serif;

$font-body: 'Source Sans Pro',
sans-serif;

$body-font-size: 14px;